<div class="omega four columns">
  <h5><%= variant.sku %> (<%= variant.is_master? ? Spree.t(:master) : variant.options_text %>)</h5>
  <% supported_currencies.each do |currency| %>
    <% price = variant.price_in(currency.iso_code) %>
    <div class="field">
      <%= label_tag "vp[#{variant.id}][#{currency.iso_code}]", currency.iso_code %>
      <%= text_field_tag("vp[#{variant.id}][#{currency.iso_code}]", (price && price.price ? price.display_amount.money : '')) %>
    </div>
  <% end %>
  <br><br>
</div>
