<fieldset>
  <legend><%= variant.sku %> (<%= variant.is_master? ? Spree.t(:master) : variant.options_text.blank? ? Spree.t(:variant) : variant.options_text %>)</legend>
  <% supported_currencies.each do |currency| %>
    <% code  = currency.iso_code %>
    <% price = variant.price_in(code) %>
    <div class="form-group">
      <%= label_tag "vp[#{variant.id}][#{code}]", code %>
      <%= text_field_tag "vp[#{variant.id}][#{code}]", (price && price.price ? price.display_amount.money : '') %>
    </div>
  <% end %>
</fieldset>
